<!-- departments.hbs -->
<h1> Departments </h1>

<!-- departments table -->
<table id="departmentsTable">
    <caption>Departments Table</caption>
    <thead>
    <tr>
        {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
        {{/each}}
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.dep_id}}</td>
            <td>{{this.dep_name}}</td>
            <td>{{this.actual_num_employees}}</td>
            <td><button onclick="deleteDepartment({{this.dep_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>


<h2> Add Department </h2>
<form id="add-department-form" action="/add-department-form" method="POST">
    <fieldset class="fields" style="width:50%">
        <label> Department Name </label> 
        <input type="text" name="input_dep_name" required>
        <br />
        <input class="btn" type="submit" id="addDepartment" value="Add Department">
    </fieldset>
</form> 

<h2> Remove Department </h2>
<form action="/removeDepartment" method="POST">
    <fieldset class="fields" style="width:50%">
        <label> Department Selection </label> 
        <select id="departmentInput" name="departmentInput" required>
            <option value="1">1 - Management</option>
            <option value="2">2 - Front-of-house</option>
            <option value="3">3 - Back-of-house</option>
        </select>
        <input class="btn" type="submit" value="Remove Department">
    </fieldset>
</form>

<h2> Edit Department </h2>
<form action="/editDepartment" method="POST">
    <fieldset class="fields" style="width:50%">
        <label> Department Selection </label> 
         <select id="departmentInput" name="departmentInput" required>
            <option value="1">1 - Management</option>
            <option value="2">2 - Front-of-house</option>
            <option value="3">3 - Back-of-house</option>
        </select>
        <br />
        <br />
        <label> New Department Name</label> 
        <input type="text" name="dep_name" required>
        
        <input class="btn" type="submit" value="Edit Department">
    </fieldset>
</form>