<!-- departments.hbs -->
<h1> Departments </h1>
<form action="/departments" method="GET">
<p> The page must be refreshed upon deleting/updating data: 
<input class="btn" type="submit" id="refresh" value="Refresh Table">
</p>
</form>
<!-- departments table -->
<table id="departmentsTable">
    <caption>Departments Table</caption>
    <thead>
    <tr>
        {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
        {{/each}}
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.dep_id}}</td>
            <td>{{this.dep_name}}</td>
            <td>{{this.actual_num_employees}}</td>
            <td><button onclick="deleteDepartment({{this.dep_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>


<h2> Add Department </h2>
<form id="add-department-form" action="/add-department-form" method="POST">
    <fieldset class="fields" style="width:50%">
        <label> Department Name </label> 
        <input type="text" name="input_dep_name" required>
        <br />
        <input class="btn" type="submit" id="addDepartment" value="Add Department">
    </fieldset>
</form> 
