<!-- employees.hbs -->
<h1> Employees </h1>
<form action="/employees" method="GET">
<p> The page must be refreshed upon deleting/updating data: 
<input class="btn" type="submit" id="refresh" value="Refresh Table">
</p>
</form>
{{!-- create the table --}}
<table id="employees-table" >
    <caption> Employees Table </caption>
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.emp_id}}</td>
            <td>{{this.emp_name}}</td>
            <td>{{this.hire_date}}</td>
            <td><button onclick="deleteEmployee({{this.emp_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/deleteEmployee.js"></script>

<h2> Add an Employee </h2>
<p>To add a new employee, fill out the fields and click "Submit"</p>
<form id="add-employee-form" action="/add-employee-form" method="POST">
    <fieldset class="fields">

        <label> Employee Name </label> 
        <input type="text" id="input_emp_name" name="input_emp_name" required>
        <br />
        <label> Hire Date </label>
        <input type="date" id="input_hire_date" name="input_hire_date" required>
        <br />
        <input class="btn" type="submit" id="addEmployee" value="Add Employee">
    </fieldset>
</form>

<br />

<h2>Updating An Employee's Name and/or Hiring Date </h2>
<form id="update-employee-form-ajax" action="/employees" method="GET">
    <fieldset class="fields">
        <label for="input-emp-name">Employee name: </label>
        <select id="input-emp-id-update" name="input-emp-id" required>
            {{#each data}}
            <option value="{{this.emp_id}}">{{this.emp_name}}</option>
            {{/each}}
        </select>
        <br />
        <label> Employee New Name </label> 
        <input type="text" id="input-emp-name-update" name="input-emp-name">
        <br />
        <label for="input-date-hired">Hire date: </label>
        <input type="date" id="input-hire-date-update" name="input-hire-date" required>
        <br />
        <input type="submit" value="Modify">
    </fieldset>
</form>
<script src="./js/updateEmployee.js"></script>
<br />
<form action="/employees" method="GET">
<p> The page must be refreshed upon deleting/updating data: 
<input class="btn" type="submit" id="refresh" value="Refresh Table">
</p>