<!-- jobs.hbs -->
<h1> Jobs </h1>
<!-- jobs table -->
<table border="1" cellpadding="5">
    <caption>
        Jobs Table
    </caption>
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
    {{#each data}}
    <tr>
        <td>{{this.job_id}}</td>
        <td>{{this.job_title}}</td>
        <td>{{this.dep_id}}</td>
        <td>{{this.dep_name}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>


<h2> Add a job </h2>
<form action="/add-job-form" method="POST">
    <fieldset class="fields" style="width:50%">
        <label> Job Title </label> 
        <input type="text" name="input_job_name">
        <br />
        <label for="input-dep-id"> Department </label> 
        <select id="input-dep-id-update" name="input_dep_id" required>
            {{#each data}}
            <option value="{{this.dep_id}}">{{this.dep_name}}</option>
            {{/each}}
        </select>
        <br />
        <label> Job Yearly Salary </label> 
        <input type="text" name="input_salary">
        <br />
        <label> Job Bonus </label> 
        <input type="text" name="input_bonus">
        <br />
        <input class="btn" type="submit" id="add-job-form" value="Add Job">
    </fieldset>
    
</form> 