<!-- salaries.hbs -->
<h1> Salaries </h1>

<!-- salaries table -->
<table id="salaries-table" border="1" cellpadding="5">
       <caption> Salaries Table </caption>
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.salary_id}}</td>
            <td>{{this.job_id}}</td>
            <td>{{this.job_title}}</td>
            <td>{{this.annual_pay}}</td>
            <td>{{this.bonus}}</td>
            
        </tr>
        {{/each}}
    </tbody>
</table>

<h2> Add a salary when you add a job to the database! <a href="/jobs">Add a job</a> </h2>

